.formControl:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgb(94, 244, 255);
    background-color: rgb(48, 48, 48);
    color: white;
}

.formButton {
    background-color: rgb(43, 222, 235);
    border: none;
    color: black;
}

.formButton:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgb(94, 244, 255);
    background-color:rgba(43, 222, 235, 0.3)
}